/*###### HOME PAGE #####*/
.news{
  height: 45em;
}
.custom-col {
  height: 45em;
}
.balance-row{
  height: 15em;
}
.user-stocks-row{
  height: 30em;
}
.user-stocks{
  width:30em;
  height:95%;
}
.hot-stocks{
  width: 30em;
  height:45em;
  height:96.5%;
}
.hot-stocks-row{
  height:100%;
}
.balance{
  width: 30em;
  height: 95%;
  border: solid 2px #2EBE33;
  border-radius: 1em;
}
.balance-row{
  height:33.33%;
}
.portfolio-val{
  font-size: 36px;
  font-weight: bold;
  color: #2EBE33;
}
.percent{
  font-size: 18px;
  font-weight: bold;
  color: #2EBE33;
  margin-left: -0.7em;
}
.bi{
  margin-bottom: 0.2em !important;
}
.customForm{
  display: inline !important;
}
.buying-pow{
  font-size: 36px;
  font-weight: bold;
  color: #707070;
}
.portfolio-graph{
  width:100%;
  height: 1.45em;
  margin:auto;
  margin-top:0.5em;
}
.companyA{
  text-align:center;
  padding-top:2px;
  font-size:12px;
  color:#FFF;
  font-weight:bold;
  border-radius: 10px 0px 0px 10px;
  background-color: #3396EC;
}
.companyB{
  text-align:center;
  padding-top:2px;
  font-size:12px;
  color:#FFF;
  font-weight:bold;
  background-color: #E27A7A;
}
.companyC{
  text-align:center;
  padding-top:2px;
  font-size:12px;
  color:#FFF;
  font-weight:bold;
  border-radius: 0px 10px 10px 0px;
  background-color: #F8B471;
}
.stock-container-g{
  border: solid 2px #2EBE33;
  border-radius: 1em;
  height: 90%;
}
.stock-container-g:hover{
  background-color: #f5fff5;
  cursor: pointer;
}
.stock-container-r{
  border: solid 2px #BE2E2E;
  border-radius: 1em;
  height: 90%;
}
.stock-container-r:hover{
  background-color: #fff4f4;
  cursor: pointer;
}
.container-wrapper{
  height: 11em;

}
.stock-row{
  height:50%;
}
.stock-heading{
  color:#707070;
  font-size: 12px
}
.stock-name{
  font-size: 32px;
  font-weight: bold;
  color:#707070;
}
.stock-data{
  padding-top:0.7em;
  font-size: 18px;
}
.g{
  color: #2EBE33; 
}
.stock-data-g{
  color: #2EBE33;
  padding-top:0.7em;
  font-size: 18px;
}
.stock-data-r{
  color: #BE2E2E;
  padding-top:0.7em;
  font-size: 18px;
}
.list-group{
  flex: 1 1 0;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  padding-left: 20px;
}
.wrapper{
  height:100%;
  padding: 5px 5px;
}
.header{
    width:8em;
}
/* ##########  */

/* STOCK PAGE  */

.stockp-row{

  height: 55em;

}

.stock-chart{
  height: 35em;
}
.equity-title{
  font-size: 36px;
  font-weight:bold;
}
.equity{
  height: 20em;
}
.equity-card{
  background-color: #f7f7f7;
  height:12em;
  padding: 10px;
}
.semi-title{
  font-weight: 500;
}
.stock-title{
  font-size: 52px;
  font-weight: bold;
}
.chart-price{
  font-size: 24px;
}
.stock-chart{
  height: 37em;
  padding-bottom: 15px;
}
.pad{
  padding-top: 0.5em;
  padding-bottom: 0.3em;
}
.lockText{
  color:#e0e0e0;
  font-weight:bold;
  font-size: 24px;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 999;
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
}
.lock{
  position: relative; /* Sit on top of the page content */
  display: block; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  pointer-events: none;
  font-weight: bold;
  font-size: 18px;
  opacity: 1;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(49, 49, 49); /* Black background with opacity */
  z-index: 100; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
}
.title-row{
  background-color:rgba(9, 255, 0, 0.048);
  border-bottom: 1px solid rgba(0,0,0,.125);
  padding: .75rem 1.25rem;
  font-weight: 500;
}
.pad-up{
  padding-top: 10px;
}
.info{
  height: 13em;
}
.pcard{
  height: 16.4em;
}
.bb{
  border-bottom: 1px solid rgba(0,0,0,.125);
}
.ntitle{
  color: #6F787E;
}
.container{
  max-width: 1600px !important;
}
.news-card{
  width: 100%;
  height: 50em;
}
.news-row{
  width:100%;
  padding-top: 10px;
  padding-bottom: 10px;
  height: auto;
}
.news-image{
  display: block;
  max-width: 20em;
  max-height: 10em;
  width: auto;
  height: auto;
  border-radius: 10px;
}
.new-link{
  color: #000;
  font-weight: 500;
}
.news-summ{
  color: #707070;
  font-size: 14px;
  text-align: justify;
}
/* ########## */
/* Turn on custom 8px wide scrollbar */
::-webkit-scrollbar {
  width: 10px; /* 1px wider than Lion. */
  /* This is more usable for users trying to click it. */
  background-color: rgba(172, 172, 172, 0);
  -webkit-border-radius: 100px;
}
/* hover effect for both scrollbar area, and scrollbar 'thumb' */
::-webkit-scrollbar:hover {
  background-color: rgba(0, 0, 0, 0.09);
}
 
/* The scrollbar 'thumb' ...that marque oval shape in a scrollbar */
::-webkit-scrollbar-thumb:vertical {
  /* This is the EXACT color of Mac OS scrollbars. 
     Yes, I pulled out digital color meter */
  background: rgba(104, 104, 104, 0.5);
  -webkit-border-radius: 100px;
  background-clip: padding-box;
  border: 2px solid rgba(104, 104, 104, 0);
  min-height: 10px; /*Prevent it from getting too small */
}
::-webkit-scrollbar-thumb:vertical:active {
  background: rgba(75, 75, 75, 0.61); /* Some darker color when you click it */
  -webkit-border-radius: 100px;
}
